<?xml version="1.0"?>
<config>
    <modules>
        <Uqppa_FixSeparateCopyMethod>
            <version>0.1.0</version>
        </Uqppa_FixSeparateCopyMethod>
    </modules>
    <global>
        <models>
            <uqppa_fixseparatecopymethod>
                <class>Uqppa_FixSeparateCopyMethod_Model</class>
            </uqppa_fixseparatecopymethod>

        </models>

        <helpers>
            <uqppa_fixseparatecopymethod>
                <class>Uqppa_FixSeparateCopyMethod_Helper</class>
            </uqppa_fixseparatecopymethod>
        </helpers>

        <events>
            <!-- Mage_Core_Model_Email_Queue has no $_eventPrefix -->
            <model_save_after>
                <observers>
                    <uqppa_fixseparatecopymethod_core_email_queue_save_after>
                        <type>singleton</type>
                        <class>uqppa_fixseparatecopymethod/observer</class>
                        <method>clearCoreEmailQueueRecipientsAfterSave</method>
                    </uqppa_fixseparatecopymethod_core_email_queue_save_after>
                </observers>
            </model_save_after>
        </events>

    </global>
</config>