<?xml version="1.0"?>
<config>
    <modules>
        <Uqppa_FixSeparateCopyMethod>
            <version>0.1.0</version>
        </Uqppa_FixSeparateCopyMethod>
    </modules>
    <global>
        <models>
            <uqppa_fixseparatecopymethod>
                <class>Uqppa_FixSeparateCopyMethod_Model</class>
            </uqppa_fixseparatecopymethod>
            <core>
                <rewrite>
                    <email_template>Uqppa_FixSeparateCopyMethod_Model_Core_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <helpers>
            <uqppa_fixseparatecopymethod>
                <class>Uqppa_FixSeparateCopyMethod_Helper</class>
            </uqppa_fixseparatecopymethod>
        </helpers>
    </global>
</config>